body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(61, 115, 214);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#icon{
    width: 62px ;
    height: 62px; 
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(6, 6, 109);
    color: blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    

}